<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301741157369-gkgrphd9ugnsgpbvfkl3lcmo5k578a7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301741157369-gkgrphd9ugnsgpbvfkl3lcmo5k578a7m</string>
	<key>API_KEY</key>
	<string>AIzaSyDXmBRkOv5-pLHklT52ntOAPwUj_XfFSXE</string>
	<key>GCM_SENDER_ID</key>
	<string>301741157369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kdata.llmTrivia</string>
	<key>PROJECT_ID</key>
	<string>proyecto-llm</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-llm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301741157369:ios:67c9472c3477ed8804eb28</string>
</dict>
</plist>